/* 
   In production I would split this CSS file into individual
   components so that each component has it's style and logic
   context tied together.
*/

.App {
  font-family: "Roboto";
}

.action {
  margin: 0 32px;
  padding: 12px;
  text-align: center;
  background: #3d59fa;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px;
}
.container h2 {
  font-size: 18px;
}
.container p {
  font-size: 16px;
}

.container.twoColumn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.twoColumn .leftColumn,
.twoColumn .rightColumn {
  width: 50%;
}
.rightColumn .item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 40px;
}
.rightColumn .item > div {
  width: 140px;
}

.progressBar {
  width: 100%;
  height: 16px;
  border-radius: 5px;
  overflow: hidden;
}
.progressBarFill {
  height: 100%;
  transition: width 0.3s ease-in-out;
}
.progressBar.left {
  background-color: #f2f2f2;
}
.progressBar.left .progressBarFill {
  background-color: #a920cb;
}
.progressBar.right {
  background-color: #a920cb;
}
.progressBar.right .progressBarFill {
  background-color: #f2f2f2;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  padding: 12px 0;
  width: 740px;
  border: 1px solid #e5e5e5;
  color: #495057;
  font-family: "Nunito";
  font-weight: 700;
  text-align: center;
}
.question h3 {
  font-size: 18px;
}

.answerSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.answerSection > div {
  margin: 0 8px;
  font-size: 14px;
}

.answerOptions input {
  margin-right: 8px;
}

.emailSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 740px;
  font-family: "Nunito";
  font-weight: 700;
  border: 1px solid #e5e5e5;
}
.emailSection h3 {
  font-size: 18px;
}
.emailSection input {
  padding: 12px;
  margin-bottom: 16px;
  width: 80%;
  font-size: 18px;
  border: 1px solid #495057;
}

.submitSection {
  margin: 32px 0;
}

.red {
  color: #fa4344;
}

.green {
  color: #00a079;
}

.gray {
  color: #495057;
}

.blue {
  color: #113264;
}

.prominent {
  font-weight: 700;
}
